[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
invoke = "*"

pylint = "*"

pytest = "*"

coverage = {extras = ["toml"], version = "*"}
pytest-cov = "*"

isort = "*"
pytest-isort = "*"

pytest-timeout = "*"

yapf = "*"

mike = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}

[requires]
python_version = "3.12"
